{% extends "admin/master.html" %}

{% block head %}
    <link href="{{ admin_static.url(filename='vendor/select2/select2.css', v='3.5.2') }}" rel="stylesheet">
    <link href="{{ admin_static.url(filename='vendor/select2/select2-bootstrap3.css', v='1.4.6') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Gerar Ordem de serviço
            </h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Regiões
                    </th>
                    <th>
                        Bairros
                    </th>
                    <th>
                        Postes com pendências
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="regioes_td">
                        <div class="list-group">
                        {% for id, label in regioes_map.iteritems() %}
                            {% set qty = regioes_qty[id] %}
                            {% set disabled = qty == 0  %}
                            <button type="button" class="list-group-item {{'disabled' if disabled else '' }}"
                                    {{'disabled="disabled"' if disabled else '' }}>
                                <input type="hidden" value="{{ id }}">
                                {% if not disabled %}
                                <span class="badge">
                                    {{ regioes_qty[id] }}
                                </span>
                                {% endif %}
                                {{ label }}
                            </button>
                        {% endfor %}
                        </div>
                    </td>
                    <td id="bairros_td">
                    </td>
                    <td id="postes_td">
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="panel-footer">
            <form method="POST" action="{{ url_for('ordemservico.create_view')}}">
                <span id="regioes_inputs">
                </span>
                <button type="submit" id="submit" class="btn btn-success" disabled="disabled">
                    Gerar Ordem de Serviço
                </button>
                Total de itens: <span id="total_itens">0</span> itens
            </form>
        </div>
    </div>
{% endblock %}
{% block tail %}
    <input type="hidden" id="regioes_qty_map" value='{{ regioes_qty | tojson }}'>
    <script type="text/javascript">
    'use strict'
    $(function() {
        var regioes_qty_map = JSON.parse($('#regioes_qty_map').val());
        var enabled_bts = $('.list-group > button').not('.disabled');
        enabled_bts.click(function(e) {
            enabled_bts.removeClass('active');
            var current_bt = $(this);
            current_bt.addClass('active');
            var regiao_id = current_bt.find('input').val();
            console.log(regiao_id);
        });


        $('#regioes').select2({
            width: 'element',
        }).on('change', function(e) {
            var values = e.val;
            var sum = 0;
            $('#regioes_inputs').html('');
            values.forEach(function(item) {
                var id = parseInt(item);
                $('<input>').attr('name', 'regiao').attr('type', 'hidden')
                    .attr('value', id).appendTo('#regioes_inputs');
                var id_qty = regioes_qty_map[id];
                sum += id_qty;
            });
            $('#total_itens').text(sum);
            $('#submit').prop('disabled', 'disabled');
            if (sum > 0 && sum <= 50) {
                $('#submit').prop('disabled', '');
            }
        });
    });
    </script>
{% endblock %}

