{% extends "admin/master.html" %}

{% block head %}
    <link href="{{ admin_static.url(filename='vendor/select2/select2.css', v='3.5.2') }}" rel="stylesheet">
    <link href="{{ admin_static.url(filename='vendor/select2/select2-bootstrap3.css', v='1.4.6') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Gerar Ordem de serviço
            </h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Regiões
                    </th>
                    <th>
                        Bairros
                    </th>
                    <th>
                        Postes com pendências
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div id="regioes_list" class="list-group">
                        {% for id, label in regioes_map.iteritems() %}
                            {% set qty = regioes_qty[id] %}
                            {% set disabled = qty == 0  %}
                            <button type="button" class="list-group-item {{'disabled' if disabled else '' }}"
                                    {{'disabled="disabled"' if disabled else '' }}>
                                <input type="hidden" value="{{ id }}">
                                {% if not disabled %}
                                <span class="badge">
                                    {{ regioes_qty[id] }}
                                </span>
                                {% endif %}
                                {{ label }}
                            </button>
                        {% endfor %}
                        </div>
                    </td>
                    <td>
                        <div id="bairros_list" class="list-group">
                        </div>
                    </td>
                    <td>
                        <div id="postes_list" class="list-group">

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="panel-footer">
            <form method="POST" action="{{ url_for('ordemservico.create_view')}}">
                <span id="regioes_inputs">
                </span>
                <button type="submit" id="submit" class="btn btn-success" disabled="disabled">
                    Gerar Ordem de Serviço
                </button>
                Total de itens: <span id="total_itens">0</span> itens
            </form>
        </div>
    </div>
{% endblock %}
{% block tail %}
    <input type="hidden" id="regioes_qty_map" value='{{ regioes_qty | tojson }}'>
    <input type="hidden" id="bairros_url" value="{{ url_for('regiao.get_bairros') }}">
    <script type="text/javascript">
    'use strict'
    $(function() {
        var regioes_qty_map = JSON.parse($('#regioes_qty_map').val());
        var bairros_url = $('#bairros_url').val()
        var regiao_bts = $('#regioes_list').not('.disabled');
        var bairros_list = $('#bairros_list');

        function regiao_click_handler(e) {
            regiao_bts.removeClass('active');
            var current_bt = $(this);
            current_bt.addClass('active');
            var regiao_id = current_bt.find('input').val();

            $.get(bairros_url, {regiao_id: regiao_id}, function(data) {
                bairros_list.empty();
                $.each(data.payload, function(i, bairro) {
                    var qty_im = bairro.qty_im;
                    var input = $('<input>').prop('type', 'hidden').val(bairro.id);
                    var button = $('<button>').prop('type', 'button').addClass('list-group-item')
                        .text(bairro.nome);
                    if (qty_im) {
                        var badge = $('<span>').addClass('badge').text(qty_im);
                        badge.appendTo(button);
                    } else {
                        button.prop('disabled', 'disabled').addClass('disabled');
                    }
                    input.appendTo(button);
                    button.appendTo(bairros_list);
                });
            });
        }

        regiao_bts.click(regiao_click_handler);
    });
    </script>
{% endblock %}

