{% extends "base_poste.html" %}
{% block title %}
    Listagem de postes
{% endblock %}

{% block content %}
<div>
    <fieldset>
        <form>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label for="CEP">CEP</label>
                    <input type="text" class="form-control" id="CEP" placeholder="">
                </div>
                <div class="col-md-3 form-group">
                    <label for="cidade">Cidade</label>
                    <input type="text" class="form-control" id="cidade" placeholder="São José dos Campos" disabled>
                </div>
                <div class="col-md-3 form-group">
                    <label for="bairro">Bairro</label>
                    <input type="text" class="form-control" id="bairro" placeholder="">
                </div>
                <div class="col-md-3 form-group">
                    <label for="rua">Rua</label>
                    <input type="text" class="form-control" id="rua" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="situacao">Situação</label>
                    <select id="situacao" class="form-control">
                        <option></option>
                        <option>OK</option>
                        <option>Ordem de serviço enviada</option>
                        <option>Ordem de serviço pendente</option>
                        <option>Não OK</option>
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <label for="tipo">Tipo</label>
                    <select id="tipo" class="form-control">
                        <option></option>
                        <option>Luminária</option>
                        <option>Poste</option>
                    </select>
                </div>
            </div>
        </form>
    </fieldset>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <input type="checkbox">
                </th>
                <th>Código</th>
                <th>Bairro</th>
                <th>Logradouro</th>
                <th>Número (aprox.)</th>
                <th>Situação</th>
                <th>Tipo</th>
                <th>Ver detalhes</th>
            </tr>
        </thead>
        <tbody>
            {% for poste in postes %}
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>{{ poste.codigo }}</td>
                <td>{{ poste.bairro }}</td>
                <td>{{ poste.logradouro }}</td>
                <td>{{ poste.numero }}</td>
                <td>OK</td>
                <td>{{ poste.tipo }}</td>
                <td>
                    <a role="button" class="btn btn-primary" href="#">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="8">
                    Nenhum poste encontrado
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="dropup">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Exportar selecionados...
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li>
            <a href="#">Ordem de serviço</a>
        </li>
        <li>
            <a href="#">Excel</a>
        </li>
    </ul>
</div>
{% endblock %}
