{% extends 'base.html' %}
{% block content %}
<div class="container">
    {{ flash_categories_with_style(['cadastro_success'], 'success' ) }}
    <h1>Gerenciamento de usuários</h1>
    <a href="{{ url_for('auth.cadastro') }}" class="btn btn-success">
        <span class="glyphicon glyphicon-user"></span>
        <span class="glyphicon glyphicon-plus"></span>
        Adicionar usuário
    </a>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>
                    Usuário
                </th>
                <th>
                    Trocar senha
                </th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>
                    {{ usuario.username }}
                </td>
                <td>
                    <a href="{{ url_for('.editar_usuario', usuario_id=usuario.id) }} ">
                        <span class="glyphicon glyphicon-edit" ></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
