{% extends 'admin/model/details.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}

{% set user_urbam = current_user.has_role('urbam') %}
{% set user_secretaria = current_user.has_role('secretaria') %}
{% set os_servico = model.status == 'em_servico' %}
{% set os_feita = model.status == 'feita' %}

{% block body %}
    <h1>Ordem de Serviço #{{ model.id }} - {{ os_status_map[model.status] }} </h1>
    <a style="margin-bottom: 20px;" class="btn btn-default" href="{{ url_for('ordemservico.mostrar_pdf', ordem_servico_id=model.id) }}">
        <i class="fa fa-file-pdf-o"></i>
        Baixar PDF
    </a>
    <h2>Itens da Ordem de Serviço</h2>
    <table class="table table-striped table-bordered table-hover model-list">
        <thead>
            <tr>
                <th rowspan="2">
                    Poste
                </th>
                <th rowspan="2">
                    Realizado
                </th>
                <th colspan="{{ equipamentos.count() }}">
                    Material utilizado
                </th>
                <th rowspan="2">
                    Motivo não realização
                </th>
                {% if user_urbam %}
                    <th rowspan="2">
                        Salvar servico
                    </th>
                {% endif %}
                {% if user_secretaria %}
                    <th rowspan="2">
                        Protocolos
                    </th>
                    <th rowspan="2">
                        Comentários
                    </th>
                    <th rowspan="2">
                        Confirmar serviço
                    </th>
                {% endif %}
            </tr>
            <tr>
                {% for equipamento in equipamentos %}
                <th>
                    {{ equipamento.abreviacao }}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for servico in model.servicos %}
                {% set servico_nao_realizado = servico.feito == None %}
                {% set servico_feito = servico.feito == True %}
                {% set servico_nao_feito = servico.feito == False %}
                {% set servico_confirmado = servico.confirmado %}
                <form action="{{ url_for('ordemservico.atualizar_item_manutencao', ordem_servico_id=model.id) }}" method="POST">
                    <tr>
                        <input type="hidden" value="{{ servico.id }}" name="servico_id">
                        <td>
                            {{ servico.item_manutencao.poste }}
                        </td>
                        <td>
                            {% if servico_feito %}
                                <i class="fa fa-check"></i>
                            {% elif servico_nao_feito %}
                                <i class="fa fa-times"></i>
                            {% else %}
                                {% if user_urbam and os_servico %}
                                    <label>
                                        <input type="radio" class="controle_urbam" name="servico_realizado_{{ servico.id }}" value="true"> Sim
                                    </label>
                                    <br/>
                                    <label>
                                        <input type="radio" class="controle_urbam" name="servico_realizado_{{ servico.id }}" value="false"> Não
                                    </label>
                                {% endif %}
                                {% if user_secretaria %}
                                    <i class="fa fa-refresh"></i>
                                {% endif %}
                            {% endif %}
                        </td>
                        {% for equipamento in equipamentos %}
                        <td>
                            {% if servico_nao_realizado and user_urbam %}
                                <input name="equipamento_{{ equipamento.id }}" type="number" class="form-control controle_urbam" max="99" min="0" value="0">
                            {% else %}
                                {% for material in servico.material %}
                                    {% if equipamento == material.equipamento %}
                                        {{ material.quantidade }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                        {% endfor %}
                        <td>
                            {% if servico_nao_realizado and user_urbam %}
                                <select class="form-control controle_urbam" name="comentario_nao_realizacao" required>
                                    <option value=""></option>
                                    <option>Não encontrado</option>
                                    <option>Já realizado</option>
                                </select>
                            {% elif servico_nao_feito %}
                                {{ servico.obs_urbam }}
                            {% endif %}
                        </td>
                        {% if user_urbam %}
                            <td>
                                {% if servico_nao_realizado and os_servico %}
                                    <button class="btn btn-primary controle_urbam" type="submit">
                                        Salvar
                                        <i class="fa fa-chevron-right"></i>
                                    </button>
                                {% endif %}
                            </td>
                        {% endif %}
                        {% if user_secretaria %}
                            <td>
                                <a href="{{ url_for('protocolo.index_view', flt1_item_manutencao_id_equals=servico.item_manutencao.id) }} ">
                                    Ver protocolos ({{ servico.item_manutencao.protocolos | length }})
                                </a>
                            </td>
                            <td>
                                {% if os_feita and not servico_confirmado %}
                                    <input type="text" class="form-control controle_secretaria" name="comentario_fechamento">
                                {% elif servico.obs_secretaria %}
                                    {{ servico.obs_secretaria }}
                                {% endif %}
                            </td>
                            <td>
                                {% if os_feita and not servico_nao_realizado and not servico_confirmado %}
                                    <button class="btn btn-success controle_secretaria" name="fechar" type="submit" value="true">
                                        Confirmar
                                        <i class="fa fa-chevron-right"></i>
                                    </button>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                </form>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block tail %}
    <script type="text/javascript">
        'use strict'
        $(function() {
            $('.controle_urbam:not(input[type=radio])').attr('disabled' ,'disabled');
            $('input[type=radio]').change(function() {
                var row = $(this).parents('tr');
                var realizado = $(this).val() == 'true';
                row.find('input[type=number]').attr('disabled', !realizado);
                row.find('select').attr('disabled', realizado);
                row.find('button[type=submit]').attr('disabled', false)
            })
        })
    </script>
{% endblock %}
