{% extends 'admin/model/edit.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

{% endblock %}

{% block body %}
    <h1>Ordem de Serviço #{{ model.id }} - {{ os_status_map[model.status] }} </h1>
    <a style="margin-bottom: 20px;" class="btn btn-default" href="{{ url_for('ordemservico.mostrar_pdf', ordem_servico_id=model.id) }}">
        <i class="fa fa-file-pdf-o"></i>
        Baixar PDF
    </a>
    <h2>Itens da Ordem de Serviço</h2>
    <table class="table table-striped table-bordered table-hover model-list">
        <thead>
            <tr>
                <th style="width: 40%">
                    Poste
                </th>
                <th style="width: 8%">
                    Realizado
                </th>
                <th colspan="{{ equipamentos.count() }}" style="width: 20%">
                    Materiais utilizados
                </th>
                <th>
                    Motivo não realização
                </th>
                <th>
                    Salvar servico
                </th>
            </tr>
            <tr>
                <th colspan="2"></th>
                {% for equipamento in equipamentos %}
                <th>
                    {{ equipamento.abreviacao }}
                </th>
                {% endfor %}
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            {% for servico in model.servicos %}
            <form action="{{ url_for('ordemservico.atualizar_item_manutencao', ordem_servico_id=model.id) }}" method="POST">
                <tr>
                    <td>
                        {{ servico.item_manutencao.poste }}
                    </td>
                    <td>
                        {% if servico.feito %}
                            <i class="glyphicon glyphicon-ok"></i>
                        {% elif servico.feito == False %}
                            <i class="glyphicon glyphicon-remove"></i>
                        {% else %}
                            <label>
                                <input type="radio" name="servico_realizado_{{ servico.id }}" value="true"> Sim
                            </label>
                            <br/>
                            <label>
                                <input type="radio" name="servico_realizado_{{ servico.id }}" value="false"> Não
                            </label>
                        {% endif %}
                    </td>
                    {% for equipamento in equipamentos %}
                    <td>
                        {% if servico.feito == None %}
                            <input name="equipamento_{{ equipamento.id }}" type="number" class="form-control" max="99" min="0" value="0">
                        {% else %}
                            {% for material in servico.material %}
                                {% if equipamento == material.equipamento %}
                                    {{ material.quantidade }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                    {% endfor %}
                    <td>
                        {% if servico.feito == None %}
                            <select class="form-control" name="motivo_urbam" required>
                                <option value=""></option>
                                <option>Não encontrado</option>
                                <option>Já realizado</option>
                            </select>
                        {% elif servico.feito == False %}
                            {{ servico.obs_urbam }}
                        {% endif %}
                    </td>
                    <td>
                        {% if servico.feito == None %}
                            <input type="hidden" value="{{ servico.id }}" name="servico_id">
                            <button class="btn btn-primary" type="submit">
                                Salvar
                                <i class="fa fa-chevron-right"></i>
                            </button>
                        {% endif %}
                    </td>
                </tr>
            </form>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block tail %}
    <script type="text/javascript">
        'use strict'
        $(function() {
            $('input[type=number], select, button[type=submit]').attr('disabled' ,'disabled');
            $('input[type=radio]').change(function() {
                var row = $(this).parents('tr');
                var realizado = $(this).val() == 'true';
                row.find('input[type=number]').attr('disabled', !realizado);
                row.find('select').attr('disabled', realizado);
                row.find('button[type=submit]').attr('disabled', false)
            })
        })
    </script>
{% endblock %}
