{% extends 'admin/model/edit.html' %}

{% block tail %}
    {{ super() }}
    <script type="text/javascript">
        'use strict'
        $(function() {
            $('input[data-role=datetimepicker], input[data-role=datepicker]').daterangepicker({
                "locale": {
                    "applyLabel": "Aplicar",
                    "cancelLabel": "Cancelar",
                    "fromLabel": "De",
                    "toLabel": "Até",
                    "customRangeLabel": "Customizar",
                    "daysOfWeek": [
                        "Dom",
                        "Seg",
                        "Ter",
                        "Qua",
                        "Qui",
                        "Sex",
                        "Sab"
                    ],
                    "monthNames": [
                        "Janeiro",
                        "Fevereiro",
                        "Março",
                        "Abril",
                        "Maio",
                        "Junho",
                        "Julho",
                        "Agosto",
                        "Setembro",
                        "Outubro",
                        "Novembro",
                        "Decembro"
                    ],
                    "firstDay": 0
                }
            });
        });
    </script>
{% endblock %}
