{% extends 'admin/model/edit.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
    <h1>Ordem de Serviço #{{ model.id }} - {{ os_status_map[model.status] }} </h1>
    <a style="margin-bottom: 20px;" class="btn btn-default" href="{{ url_for('ordemservico.mostrar_pdf', ordem_servico_id=model.id) }}">
        <i class="fa fa-file-pdf-o"></i>
        Baixar PDF
    </a>
    <h2>Itens da Ordem de Serviço</h2>
    {% if current_user.has_role('secretaria') and model.feita %}
        <form style="margin-bottom: 20px;" action="{{ url_for('ordemservico.confirmar', ordem_servico_id=model.id) }}" method="POST">
            <button type="submit" class="btn btn-success">
                Confirmar Ordem de Serviço
            </button>
        </form>
    {% endif %}
    <table class="table table-striped table-bordered table-hover model-list">
        <thead>
            <th style="width: 55%">
                Poste
            </th>
            <th style="width: 33%">
                Materiais utilizados
            </th>
            <th>
                Serviço realizado
            </th>
        </thead>
        <tbody>
            {% for servico in model.servicos %}
            <tr>
                <td>
                    {{ servico.item_manutencao.poste }}
                </td>
                <form class="form-inline" action="{{ url_for('ordemservico.atualizar_item_manutencao', ordem_servico_id=model.id) }}" method="POST">
                <td>
                    {% if servico.feito == None %}
                    <select multiple="true" name="equipamentos" style="width: 100%">
                        {% for equipamento in equipamentos %}
                        <option value="{{ equipamento.id }}">
                            {{ equipamento.nome }}
                        </option>
                        {% endfor %}
                    </select>
                    {% elif servico.feito %}
                    <ul>
                        {% for material in servico.material %}
                        <li>
                            {{ material.equipamento.nome }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </td>
                <td>
                    {% if servico.feito == None %}
                        <input type="hidden" value="{{ servico.id }}" name="servico_id">
                        <button class="btn btn-primary" type="submit" name="feito" value="true">
                            Sim
                        </button>
                        <button class="btn btn-default" name="feito" type="submit" value="false">
                            Não
                        </button>
                    {% else %}
                        {% if servico.feito == True %}
                            <i class="glyphicon glyphicon-ok"></i>
                        {% else %}
                            <i class="glyphicon glyphicon-remove"></i>
                        {% endif %}
                    {% endif %}
                </td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block tail %}
    <script type="text/javascript">
        $(function() {
            $('select[name=equipamentos]').select2({
                'width': 'component'
            });
        })
    </script>
{% endblock %}
