{% extends "base.html" %}
{% block title %}Protocolos{% endblock %}

{% block content %}
<title>Novo protocolo</title>
<div class="container">
  <h1>Novo protocolo</h1>
  <form action="{{ url_for('.novo') }}" method="POST" enctype="multipart/form-data">
     {% for field in form %}
     <div class="form-group">
         {{ field.label }}<br/>
         {% if field.id == 'filename' %}
         {% else %}
            {{ field }}
         {% endif %}
     </div>
     {% endfor %}
     <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>
{% endblock %}
